@import "_vars.scss";
@import "_io.scss";
@import "_typography.scss";
*{
  margin-top:0;
  box-sizing: border-box;
  padding:0;
}

body {
  font-family: $font-stack;
  background: var(--lightgrey);
  color: var(--grey);
  font-size: 1.8rem;
  line-height: 1.3em;

  margin: 0;
  padding: 0;
  background: var(--lightgrey) $topography fixed; 
}

.bg-fill {
  background: #FFFFFF;
}

section {
  padding: 1rem;
}

header.home section.intro {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;

  background: $primarydark-gu;
  padding: 2rem 2rem 5rem 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.nav-meta {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.logo {
  height: 4rem;
  width: 10rem;
  flex-grow: 0;
  display: block;
  background: #FFFFFF;
  align-self: flex-start;
}

.login {
  flex-grow: 1;
  align-self: center;
  text-align: right;
  margin-right: 3rem;

  color: #FFFFFF;
  a {
    color: #FFFFFF;
    font-size: 1.4rem;
  }
}

.navToggle {
  flex-grow: 0;
  width: 4rem;
  height: 4rem;
  
  background: #FFFFFF;
}


.page-links {
  position: fixed;
  z-index: 30;
  
  display: flex;
  flex-direction: column;
  
  top: 0;
  bottom: 0;
  right: 0;

  background: linear-gradient(to top, var(--primarydark), var(--primarylight));
  padding: 7rem 5rem 0 5rem;
  a {
    flex-grow: 0;
    align-self: flex-start;
    z-index: 30;
    
    font-size: 3.6rem;
    color: #FFFFFF;
    text-decoration: none;

    padding: 2rem 0;
    float: left;
    &:after {
      content: "";
      display: block;
      height: .5rem;
      
      margin-top: 1.5rem;
      margin-bottom: -2rem;
      background: linear-gradient(to right, var(--secondarylight), var(--secondarydark)); 
      border-radius: .25rem;
      
      width: 0%;
      float: right;
      transition: width .15s; 
    }
    &:hover:after {
      opacity: 1;
      width: 100%;
      float: left;
    }
    &.active:after {
        width: 100%;
        opacity: 1;
    }
    &.active:hover:after {
      width: 100%;
      background: linear-gradient(to right, var(--secondaryextralight), var(--secondarylight)); 
    }
  }
  &.active + .nav-meta:before {
    content: "";
    position: fixed;
    z-index: 25;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.3);
  }
  &.active + .nav-meta > .navToggle {
    position: fixed;
    z-index: 31;
    top: 2rem;
    right: 2rem;
  }
}

.content {
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.intro {
  display: block;
  position: relative;
  background: #FFFFFF;
  padding-bottom: 2rem;
  box-shadow: 0 .2rem .3rem rgba(0,0,0,.05);
}

.intro-cta {
  display: flex;
  justify-content: center;
}

.hero {
  width: calc(100%-4rem);
  margin: -3rem 2rem 2rem 2rem;
  padding-top: 40%;

  display: block;

  background: #000000;
  border-radius: 1rem;

  position: relative;
  z-index: 10;
}




.upcoming-events {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0;
}

.event {
  color: #FFFFFF;
  background: #FFFFFF;
  -webkit-box-shadow: 0rem .3rem .3rem rgba(50,200,100,.2);
  border-radius: 1.1rem;

  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
  padding: 0rem;
  position: relative;
}

.event-datetime {
  padding: 2rem;
  flex-grow: 0;
  
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  
  text-align: center;
  align-self: center;
  .month {
    display: block;
    text-transform: uppercase;
    color: #425251;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    align-self: center;
    flex-basis: 100%;
  }
  .day {
    font-size: 5rem;
    color: #01524F;
    font-weight: bold;
    align-self: center;
    flex-basis: 100%;
  }
}

.event-details {
  flex-grow: 1;
  background: $primarydark-gd;
  padding: 2rem;
  margin-bottom: 0;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

.btn + .btn {
  margin-left: 1rem;
}

.event-title {
  display: block;
  padding: 0;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}

.event-location {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 2rem;
}

.more-events {
  margin: auto;
  display: inline-block;
  text-align: center;
}

.mission {
  background: #FFFFFF;
  padding: 2rem;
}

.newsletter-signup {
  color: white;
  background: $primarydark-gu;

  padding: 2rem
}

.gallery {
  padding: 2rem;
}

.gallery img {
  display: block;
  width: 100%;
  border: 1px solid #CCCCCC;
  margin-bottom: 2rem;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  @supports not (justify-content: center) {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem 0 0 0;
    margin: 1rem 0;
  }
}

.social {
  text-align: center;
  padding: 6rem 2rem;
}

footer {
  background: #FFFFFF;
  text-align: center;

  padding: 6rem 2rem;
}