@import "_vars.scss";
@import "_navigation.scss";
@import "_io.scss";
@import "_typography.scss";
*{
  margin-top:0;
  box-sizing: border-box;
  padding:0;
}

body {
  font-family: $font-stack;
  background: var(--lightgrey);
  color: var(--grey);
  font-size: 1.8rem;
  line-height: 1.3em;

  margin: 0;
  padding: 0;
  background: var(--lightgrey) $topography fixed; 
}

.bg-fill {
  background: #FFFFFF;
}

section {
  padding: 1rem;
}

header.home section.intro {
  margin: 0;
}

.logo {
  @media screen and (max-width: $tiny) {
    height: 4rem;
    width: 10rem;
    flex-grow: 0;
    display: block;
    background: #FFFFFF;
    align-self: flex-start;
  }
  @media screen and (max-width: $small) {
    height: 6rem;
    width: 15rem;
    flex-grow: 0;
    order: 0;
    display: block;
    background: #FFFFFF;
    align-self: flex-start;
  }
}


.nav-meta {
  @media screen and (max-width: $tiny) {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
  }
  display: none;
}
.nav-meta-small {
  @media screen and (max-width: $tiny) {
    display: none;
  }
  display: block;
  align-self: center;
  flex-grow: 0;
}

.login {
  color: var(--primaryextralight);
  display: block;
  a {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: .2rem solid var(--primaryextralight);
    font-size: 1.8rem;
    margin: 0 1rem;
    padding: 1rem 0 .5rem 0;
    transition: border-color .15s ease-in-out;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      border-color: #FFFFFF;
    }
  }
  @media screen and (min-width: $tiny) and (max-width: $small) {
    display: none;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    text-align: right;
    a {
      font-size: 1.6rem;
      padding: 0;
      border-bottom: 0;
    }
  }
}



.content {
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.intro {
  display: block;
  position: relative;
  background: #FFFFFF;
  padding-bottom: 2rem;
  box-shadow: 0 .2rem .3rem rgba(0,0,0,.05);
}

.intro-cta {
  display: flex;
  justify-content: center;
}

.hero {
  width: calc(100%-4rem);
  margin: -3rem 2rem 2rem 2rem;
  padding-top: 40%;

  display: block;

  background: #000000;
  border-radius: 1rem;

  position: relative;
  z-index: 10;
}




.upcoming-events {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0;
}

.event {
  color: #FFFFFF;
  background: #FFFFFF;
  -webkit-box-shadow: 0rem .3rem .3rem rgba(50,200,100,.2);
  border-radius: 1.1rem;

  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
  padding: 0rem;
  position: relative;
}

.event-datetime {
  padding: 2rem;
  flex-grow: 0;
  
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  
  text-align: center;
  align-self: center;
  .month {
    display: block;
    text-transform: uppercase;
    color: #425251;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    align-self: center;
    flex-basis: 100%;
  }
  .day {
    font-size: 5rem;
    color: #01524F;
    font-weight: bold;
    align-self: center;
    flex-basis: 100%;
  }
}

.event-details {
  flex-grow: 1;
  background: $primarydark-gd;
  padding: 2rem;
  margin-bottom: 0;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

.btn + .btn {
  margin-left: 1rem;
}

.event-title {
  display: block;
  padding: 0;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}

.event-location {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 2rem;
  position: relative;
  &:before {
    content:'';
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    width: .6rem;
    height: .6rem;
    border: .4rem solid #FFFFFF;
    background: var(--primarydark);
    border-radius: 1rem;
    margin-right: 1rem;
    top: .3rem;
  }
  &:after {
    content: '';
    display: block;
    width: 0rem;
    height: 0rem;
    border: .7rem solid transparent;
    border-top: 1rem solid #FFFFFF;
    position: absolute;
    top: .9rem + .3rem;
    left: 0;
    z-index: 1;
  }
}

.more-events {
  margin: auto;
  display: inline-block;
  text-align: center;
}

.mission {
  background: #FFFFFF;
  padding: 2rem;
}

.newsletter-signup {
  color: white;
  background: $primarydark-gu;

  padding: 2rem
}

.gallery {
  padding: 2rem;
}

.gallery img {
  display: block;
  width: 100%;
  border: 1px solid #CCCCCC;
  margin-bottom: 2rem;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  @supports not (justify-content: center) {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem 0 0 0;
    margin: 1rem 0;
  }
}

.social {
  text-align: center;
  padding: 6rem 2rem;
}

footer {
  background: #FFFFFF;
  text-align: center;

  padding: 6rem 2rem;
}